<i class="fa fa-times"  aria-hidden="true" (click)="close()" ></i>

<div class="row">
    <div style="text-align: center;"class="col-sm-7">
        <!-- <img style="width: 100%;"  src={{dataDisplayed.avatar_url}} alt={{dataDisplayed.avatar_url}}> -->
        <iframe width="600" height="400" [src]="urlData |safe"> </iframe>
       <!-- >Admin <i *ngIf="dataDisplayed.site_admin" class="fa fa-check-square" aria-hidden="true"></i> -->
       <!-- <span><i *ngIf="!dataDisplayed.site_admin" class="fa fa-window-close" aria-hidden="true"></i></span> -->
    </div>
  
    <div class="col-sm-5">
        <ul class="list-group">
            <li class="list-group-item list-group-item-dark"><strong>ChannelTitle:</strong> &nbsp;{{dataDisplayed.snippet.channelTitle}}</li>
            <li class="list-group-item list-group-item-dark"><strong>ChannelId:</strong>&nbsp;{{dataDisplayed.snippet.channelId}}</li>
            <li class="list-group-item list-group-item-dark"><strong>LiveBroadcastContent:</strong>&nbsp;{{dataDisplayed.snippet.liveBroadcastContent}}</li>
            <li class="list-group-item list-group-item-dark"><strong>Publish Time:</strong>&nbsp;{{dataDisplayed.snippet.publishTime |date}}</li>
            <li class="list-group-item list-group-item-dark"><strong>Description:</strong>&nbsp;{{dataDisplayed.snippet.description}}</li>
        </ul>
    </div>
    
  </div>
  